/*
* Styling for Add Beasiswa
* By: Matthew Mahendra
* SID: 13521007
*/
.add-beasiswa{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    flex-direction: column;
}

.add-beasiswa .form{
    width: 300px;
    height: auto;
    margin:20px;
    padding:15px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.add-beasiswa .form input[type='text'],
.add-beasiswa .form input[type='email']{
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
    font-size: 14px;
}

.add-beasiswa .form textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    resize: none;
}

.add-beasiswa .save-btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}

.add-beasiswa .cancel-btn{
    text-decoration: none;
    background-color: #f44336;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}