.add-beasiswa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Using viewport height to fill the entire vertical space of the viewport */
    flex-direction: column;
}

.add-beasiswa h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.add-beasiswa .form {
    display: flex;
    justify-content: center;
    align-items: center;  /* Vertically centers the items inside */
    padding: 15px 30px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: fit-content;  /* Makes the form container only as wide as it needs to be */
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;  /* Spacing between input and buttons */
}

.button-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.add-beasiswa .form input[type='text'],
.add-beasiswa .form input[type='email'],
.add-beasiswa .form input[type='password' i],
.add-beasiswa .form select,
.add-beasiswa .form input[type='file'] {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
    font-size: 14px;
}

.add-beasiswa .form textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    resize: none;
}

.add-beasiswa .save-btn {
    background-color: #CBEBFA;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}

.add-beasiswa .save-btn:hover {
    background-color: #4266B0;
    color: white;
}

.add-beasiswa .cancel-btn {
    text-decoration: none;
    background-color: #f44336;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

.add-beasiswa .cancel-btn:hover {
    background-color: #da190b;
}
.flex-button {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
@media (min-width: 768px) {
    .add-beasiswa .form {
        width: 100%;
        padding: 15px 30px;
    }
}