.add-beasiswa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    /* padding-top: 300px; */
}

.add-beasiswa h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.add-beasiswa .form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: fit-content; 
    width: 65%;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-right: 20px;  */
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.add-beasiswa .form input[type='text'],
.add-beasiswa .form input[type='email'],
.add-beasiswa .form input[type='password' i],
.add-beasiswa .form select,
.add-beasiswa .form input[type='file'] {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.add-beasiswa .form textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    resize: none;
}

.add-beasiswa .save-btn {
    background-color: #CBEBFA;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
}

.add-beasiswa .save-btn:hover {
    background-color: #4266B0;
    color: white;
}

.add-beasiswa .cancel-btn {
    text-decoration: none;
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

.add-beasiswa .cancel-btn:hover {
    background-color: #4a0804;
}
.flex-button {
    display: flex;
    margin-top: 20px;
}

@media screen and (max-width: 450px) {
    .add-beasiswa h1 {
        font-size: 2rem;
    }
}