.dashboard-container {
    padding-top: 6rem;
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.user-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.action-button {
    background-color: #4266B0;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: #CBEBFA;
    color: #4266B0;
}
.scholarships::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;  
    transform: translateX(-50.5%);
    width: 100vw;
    height: 100%;
    z-index: -1;
    background-image: url('../image/wave.webp');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}
.scholarships {
    position: relative;
    background-color: #CBEBFA;
    padding: 20px;
    border-radius: 80px 80px 0 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.carousel-window {
    margin-top:50px;
    position: relative;
    overflow: hidden;
    padding-right: 50px;
    padding-left: 20px;
}

.carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.7);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    transition: background 0.3s;
}

.carousel-nav:hover {
    background: rgba(255, 255, 255, 1);
}


.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}
.scholarships h2 {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}
.scholarship-item h3{
    font-weight: bold;
}
.scholarship-item h3, 
.scholarship-item p {
    text-align: center;
    padding-top: 20px;
}
.scholarship-list {
    display: flex;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    transition: transform 0.5s; 
}
.scholarship-list li {
    list-style-type: none;
}
.scholarship-item {
    position: relative;
    width: 500px;
    height: 300px;
    flex-shrink: 0;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    scroll-snap-align: start;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.scholarship-item:hover {
    transform: scale(1.05);
}

.bookmark-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #4266B0;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.bookmark-button:hover {
    background-color: #CBEBFA;
    color: #4266B0;
}

@media only screen and (max-width: 768px) {
    .scholarship-item {
        position: relative;
        width: 170px;
        flex-shrink: 0;
        margin-right: 20px;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        scroll-snap-align: start;
        transition: transform 0.3s ease;
        cursor: pointer;
    }
    .bookmark-button {
        position: absolute;
        left: 50%; 
        transform: translateX(-50%);
        bottom: 10px;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    .action-button {
        margin-right: 10px;
    }
}