.image-container {
    background-image: url('/public/image/assets/home/wave.webp');
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    color: #fff;
    padding: 20px;
}
.content {
    text-align: left;
    color: #fff;
    padding: 20px;
    margin-top: calc(0.8 * 300px);
    display: flex;
}

.text-section {
    flex: 1;
    padding-right: 20px;
}
.text-section h1 {
    color: #4266B0;
    font-size: 50px;
}

.text-section p {
    color : #717171;
}
.image-section {
    flex: 1;
    text-align: right;
    height: 500px;
    width: 500px;
}

.get-started {
    background-color: #4266B0;
    color: white;
    border: none;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
}

.get-started:hover {
    background-color: #24385f;
    color: white;
    border: none;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.more-info {
    background-color: transparent;
    color: #4266B0;
    border: 1px solid #4266B0;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
}

.more-info:hover {
    background-color: #4266B0;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.content img {
    /* width: 200px;
    max-width: 100%; */
    width: 50%;
    height: auto;
    margin-top: -100px;
    margin-right: 100px;
    animation: rotate 2s linear infinite alternate;
}

@keyframes rotate {
    from {
        transform: rotate(-45deg);
    }
    to {
        transform: rotate(45deg);
    }
}

.button-container {
    margin-top: 40px;
}

/* VIDEO YT */
.video-section {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 40px;
}
.video-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: bold;
}
.content-video {
    display: flex; 
    flex-direction: row-reverse;
    width: 100%;
}

.text-column {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    flex: 1;
    padding: 20px;
    text-align: left;
}


.image-column {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.watch-video {  
    background-color: #4266B0;
    color: #fff;
    padding: 10px 20px; 
    width: 200px; 
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
}

.video-section-image {
    width:auto;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* KATA MEREKA */
.kata-mereka {
    text-align: center;
    padding: 20px;
    background-color: #fff;
}

.kata-mereka h2 {
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: bold;
}


.grid-item img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.grid-item h3 { /* Name styling */
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.grid-item p { /* Testimonial text styling */
    font-style: italic;
}
/* 4 GRID */
.easy-steps {
    padding: 50px;
    background-color: #fff;
}
.easy-steps h3{
    font-size: 24px;
    font-weight: bold;
}
.number {
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: #4266B0;
    color: white;
    height: 50px;
    width: 50px;
    font-size: 24px; 
    font-weight: bold;
}

.easy-steps h2{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
}
.easy-steps-desc{
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
    color : #717171;
}
.easy-steps h3{
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
}
.easy-steps-grid-item p{
    align-items: left;
    font-size: 16px;
    margin-bottom: 30px;
    color : #717171;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding-left: 50px;
    padding-right: 50px;
    overflow: hidden;
    position: relative;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    justify-content: space-between;
}

.grid-container::-webkit-scrollbar {
    display: none;
}

.grid-item {
    padding: 20px;
    text-align: center;
    background-color: #CBEBFA;
    outline: none;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    flex: 0 0 100%;
}
.easy-steps-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    overflow: hidden;
    position: relative;
    width: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.easy-steps-grid-container::-webkit-scrollbar {
    display: none;
}

.easy-steps-grid-item {
    flex: 0 0 100%;
    scroll-snap-align: start;
}

/* Styles for small screens */
@media (max-width: 768px) { 
    .easy-steps-grid-container {
        display: flex;
        overflow-x: scroll;
    }
    .grid-container {
        display: flex;
        overflow-x: scroll;
    }
}
/* FOOTER*/
.footer {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 20px;
}

.footer-logo img {
    max-width: 80px;
    height: auto;
}

.footer-info p {
    font-size: 16px;
    margin: 5px 0;
}

.modal {
    display: none !important;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.4);
    overflow: auto;
}

.modal-content {
    text-align: center;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    margin: 10% auto;
    padding: 20px;
    width: 30%;
    max-width: 600px;
    position: relative;
    color: #4226B0;
}

.modal-content .title {
    margin: 10px;
    margin-bottom: 30px;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 1;
    cursor: pointer;
}

.videoPlayer {
    max-width: 100%;
    height: auto;
}