.image-container {
    background-image: url('../image/wave.webp');
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    color: #fff;
    padding: 20px;
}
.content {
    text-align: left;
    color: #fff;
    padding: 20px;
    margin-top: calc(0.8 * 300px);
    display: flex;
}

.text-section {
    flex: 1;
    padding-right: 20px;
}
.text-section h1 {
    color: #4266B0;
    font-size: 50px;
}

.text-section p {
    color : #717171;
}
.image-section {
    flex: 1;
    text-align: right;
    height: 500px;
    width: 500px;
}

.get-started {
    background-color: #4266B0;
    color: white;
    border: none;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
}

.more-info {
    background-color: #CBEBFA;
    color: #4266B0;
    border: 1px solid #4266B0;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
}

.content img {
    /* width: 200px;
    max-width: 100%; */
    width: 70%;
    height: auto;
    margin-top: -100px;
}

.button-container {
    margin-top: 40px;
}

/* VIDEO YT */
.video-section {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 40px;
}
.video-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: bold;
}
.content-video {
    display: flex; 
    flex-direction: row-reverse;
    width: 100%;
}

.text-column {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    flex: 1;
    padding: 20px;
    text-align: left;
}


.image-column {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.watch-video {  
    background-color: #4266B0;
    color: #fff;
    padding: 10px 20px; 
    width: 200px; 
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
}

.video-section-image {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* KATA MEREKA */
.kata-mereka {
    text-align: center;
    padding: 20px;
    background-color: #fff;
}

.kata-mereka h2 {
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

.grid-item {
    padding: 20px;
    text-align: center;
    background-color: #CBEBFA;
    outline: none;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.grid-item img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.grid-item h3 { /* Name styling */
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.grid-item p { /* Testimonial text styling */
    font-style: italic;
}

/* FOOTER*/
.footer {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 20px;
}

.footer-logo img {
    width: 80px;
    height: auto;
}

.footer-info p {
    font-size: 16px;
    margin: 5px 0;
}