* {
   margin: 0;
   padding: 0;
   font-family: 'Roboto';
   letter-spacing: 1px;
   font-weight: 300;
   text-decoration: none;
}

.custom-style {
   margin: 0;
   padding: 0;
   color: #f2f5f7;
   letter-spacing: 1px;
   font-weight: 300;
   text-decoration: none;
}

.navbar-body {
   overflow-x: hidden;
   margin: 0;
   padding: 0;
}

nav {
   height: 4.5rem;
   width: 100%;
   background-color: white;
   box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
   display: flex;
   position: fixed;
   z-index: 10;
   top: 0;
   margin: 0;
   color: black;
}

/*Styling logo*/
.logo {
   padding: 1vh 1vw;
   text-align: center;
   display: flex;
   align-items: center;
}

.logo-text {
   color: #2C347F;   
   font-size: 26px;
   font-weight: bold;
   letter-spacing: 1px;
   margin-left: 20px;
}

.logo img {
   height: 5rem;
   width: 5rem;
}

/*Styling Links*/
.nav-links {
   display: flex;
   list-style: none;
   width: 88vw;
   padding: 0 1vw;
   align-items: center;
   text-transform: uppercase;
}

.nav-links li a {
   text-decoration: none;
   margin: 0 1.5vw;
   color: black;
}

.nav-links li a:hover {
   color: #61DAFB;
}

.nav-links li {
   position: relative;
}

.nav-links li a:hover::before {
   width: 80%;
}

/*Styling Buttons*/
.login-button-container {
   margin-left: auto;
}

.login-button {
   background-color: transparent;
   border: 1.5px solid white;
   border-radius: 2em;
   padding: 0.6rem 0.8rem;
   font-size: 1rem;
   cursor: pointer;
}

.login-button:hover {
   color: #131418;
   background-color: #f2f5f7;
   border: 1.5px solid #f2f5f7;
   transition: all ease-in-out 350ms;
}

.join-button {
   color: #131418;
   background-color: #61DAFB;
   border: 1.5px solid #61DAFB;
   border-radius: 2em;
   padding: 0.6rem 0.8rem;
   font-size: 1rem;
   cursor: pointer;
}

.join-button:hover {
   color: #f2f5f7;
   background-color: transparent;
   border: 1.5px solid #f2f5f7;
   transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div {
   width: 30px;
   height: 3px;
   background: #f2f5f7;
   margin: 5px;
   transition: all 0.3s ease;
}

.hamburger {
   display: none;
}

.toggle .line1 {
   transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
   transition: all 0.7s ease;
   width: 0;
}

.toggle .line3 {
   transform: rotate(45deg) translate(-5px, -6px);
}

.dropbtn {
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
   border-radius: 10px;
   background-color: #0F62FE;
}

.dropdown {
   position: relative;
   display: inline-block;
   text-decoration: none;
}

.profile {
   position: relative;
   display: inline-block;
   margin-left: auto;
}

.profile:hover .dropdown-content {
   display: block;
}

.profile:hover .arrow-down {
   transform: rotate(180deg);
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
}

.dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

.dropdown-content a:hover {
   background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
   display: block;
}


.dropdown:hover .dropbtn {
   background-color: #3e8e41;
}

.dropdown:hover .arrow-down {
   transform: rotate(180deg);
}

.dropdownHead {
   text-decoration: none;
   color:white;
   margin: 0 1.5vw;
}

.dropdownHead {
   cursor: pointer;
}

.dropdownHead:hover {
   color: #61DAFB;
}

/* Add this CSS for the arrow-down indicator */
.arrow-down {
   display: inline-block;
   width: 0;
   height: 0;
   border-left: 5px solid transparent;
   border-right: 5px solid transparent;
   border-top: 5px solid #f2f5f7;
   margin-left: 5px;
   vertical-align: middle;
   transition: transform 0.2s ease;
}

/*Stying for small screens*/
@media screen and (max-width: 1280px) and (max-height: 768px) {
   nav {
      position: fixed;
      z-index: 3;
   }

   .hamburger {
      display: block;
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
      transition: all 0.7s ease;
   }

   .nav-links {
      position: fixed;
      background: #131418;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(50px at 90% -20%);
      -webkit-clip-path: circle(50px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
   }

   .profile {
      position: relative;
      display: inline-block;
      margin-right: auto;
   }

   .nav-links.open {
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
   }

   .nav-links li {
      opacity: 0;
   }

   .nav-links li:nth-child(1) {
      transition: all 0.5s ease 0.2s;
   }

   .nav-links li:nth-child(2) {
      transition: all 0.5s ease 0.4s;
   }

   .nav-links li:nth-child(3) {
      transition: all 0.5s ease 0.6s;
   }

   .nav-links li:nth-child(4) {
      transition: all 0.5s ease 0.7s;
   }

   .nav-links li:nth-child(5) {
      transition: all 0.5s ease 0.8s;
   }

   .nav-links li:nth-child(6) {
      transition: all 0.5s ease 0.9s;
      margin: 0;
   }

   .nav-links li:nth-child(7) {
      transition: all 0.5s ease 1s;
      margin: 0;
   }

   li.fade {
      opacity: 1;
   }
}