@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Poppins:300);

.scholarship-body {
    position: relative;
    z-index: 1;
    font-family: Poppins;
    font-weight: 300;
    line-height: 1.42em;
    color: #A7A1AE;
    background-color: #1F2739;
    margin-top: 4.5rem;
    padding-top: 2rem;
    padding-bottom: 0.3rem; 
    min-height:100vh;

}

h1 {
    font-size: 3em;
    font-weight: 300;
    line-height: 1em;
    text-align: center;
    color: #4DC3FA;
}

h2 {
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    display: block;
    line-height: 1em;
    padding-bottom: 2em;
    color: #FB667A;
}

h2 a {
    font-weight: 700;
    text-transform: uppercase;
    color: #FB667A;
    text-decoration: none;
}

.blue {
    color: #185875;
}

.yellow {
    color: #FFF842;
}

.container th h1 {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: #185875;
}

.container td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    display: table;
    padding: 0 0 10 0;
}

.container td,
.container th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
}


/* Background-color of the odd rows */
.container tr:nth-child(odd) {
    background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
    background-color: #2C3446;
}

.container th {
    background-color: #1F2739;
}

.container td:first-child {
    color: #FB667A;
}

.container td:last-child button {
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #4DC3FA;
    border-radius: 10px;
}

/* hover for last child */
.container td:last-child button:hover {
    background-color: #FB667A;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}

.container tr:hover {
    background-color: #464A52;
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
    background-color: #FFF842;
    color: #403E10;
    font-weight: bold;

    box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
    transform: translate3d(6px, -6px, 0);

    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

/* Previous and Next links */
.pagination-button a {
    color: #FFF;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #333;
    border-radius: 5px;
    margin: 2px;
}

/* Current active page */
.pagination-button a.active {
    background-color: #4CAF50;
}

/* Hover effect */
.pagination-button a:hover:not(.active) {
    background-color: #ddd;
}

/* Center the pagination */
.pagination-button {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-form {
    display: flex;
    justify-content: center;
    /* margin-top: 20px; */
    font-size: 16px;
}

#search {
    border-radius: 5px;
    width: 300px;
    height: 35px;
    font-size: 16px;
    padding: 5px;
}

.search-form button {
    height: 35px;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 5px;
}