body {
    margin: 0;
    padding: 0;
}

.user-list {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #4226B0;
    position: relative;
    z-index: 1;
    background-color: #fff;
    margin-top: 4.5rem;
    padding: 2rem;
    min-height: 100vh;
}

.user-filter {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
}

.box {
    margin: 5px;
    flex: 1;
    flex-basis: calc(25% - 10px);
    padding: 15px;
    background: #2A6DB6;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.box .profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 auto 10px;
}

.box h3.name {
    margin-top: 10px;
}

.box .attribute {
    margin-top: 10px;
}

.btn {
    margin: 10px;
    padding: 3px;
    border-radius: 40px;
    width: 150px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}
 
.btn.btn-primary {
    background-color: #CBEBFA;
    border: none;
    color: #444;
}

.btn.btn-primary:hover {
    background-color: #2C347F;
    border: none;
    color: #CBEBFA;
}

.btn.btn-danger {
    background-color: #b50101;
    border: none;
    color: #fff;
}

.btn.btn-danger:hover {
    background-color: #680000;
    border: none;
    color: #fff;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,0.4);
    overflow: auto;
}

.modal-content{
    text-align: center;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    margin: 10% auto;
    padding: 20px;
    width: 30%;
    max-width: 600px;
    position: relative;
    color: #4226B0;
}